@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap'); 

body {
    font-family: 'Orbitron', sans-serif; 
    background-color: #0a0f1f;
    color: #f5f5f5;
}


.headerDiv img {
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.5);
}

.headerDiv h1 {
    color: #00ffea;
}

.headerDiv p {
    color: #f5f5f5;
}

.headerDiv a {
    color: #ff00ff;
}

.links a {
    background-color: #ff00ff;
    color: #f5f5f5;
}

.section {
    background-color: rgba(10, 15, 31, 0.9);
    box-shadow: 0 0 10px rgba(0, 255, 234, 0.3);
}

.section h2 {
    color: #ff00ff;
    border-bottom: 2px solid #ff00ff;
    text-shadow: 0 0 5px #ff00ff;
}

.section h3 {
    color: #00ffea;
}


.section p {
    color: #f5f5f5;
}

li {
    color: #ff00ff;
}

a:hover {
    color: #00ffea;
    text-shadow: 0 0 10px #00ffea;
}

.subtitle a {
    color: #ff00ff;
}

.subtitle a:hover {
    color: #00ffea;
}

.sub {
    color: #ff00ff !important;
}

.item:hover {
    background-color: black;
    transition: background-color 0.5s;
}

.item:not(:last-child) {
    border-bottom: 1px solid #00ffea;
}

.tag {
    background-color: #00ffea59;
    color: #00ffea;
    border: 2px solid #00ffea;
}

.skills>.item_list>div {
    border: 1px solid #00ffea;

}